@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


/* basic setup for UI components */
*{
  margin: 0;
  padding: 0;
}
.body{
  font-family: 'Hind Siliguri', sans-serif;
}

.btn{
  padding: 8px 24px;
  gap: 8px;
  width: 89px;
  height: 39px;
  background: #FFFBEE;
  border: 1px solid #FFC000;
  border-radius: 6px;
}

.btn-icon{
  margin-left: 12px;
}

.btn-primary-1{
  background-color: #EAECF0;
  border: none;
  padding: 12px 25px;
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #101828;
  border: 1px solid #101828;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase; 
}

.btn-primary-2{
  border: none;
  padding: 12px 25px;
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background: #101828;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.heading-1{
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #101828;
  line-height: 0;
  margin-left: 15px;
  margin-bottom: 24px;
}

.heading-2{
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.heading-3{
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  line-height: 0;
}

.nav-logo{
  width: 140px;
  height: 34px;
}


 /* mobile responsive section */

 @media screen and (max-width: 525px){
  .heading-1{
    font-size: 26px;
    margin: 25px 0;
  }

  .btn-primary-2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
  }

  .btn-primary-1{
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
 }

 /* mobile responsive section */

.nav-container{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

ul{
  width: 480px;
  display: flex;
  justify-content: space-between;
}
ul li{
  list-style: none;
  display: flex;
  align-items: center;
}
li p{
  margin: 0 5px;
  font-weight: 600;
  font-size: 12px;
}

ul li:hover{
  cursor: pointer;
}

.login-btn{
  cursor: pointer;
  align-items: center;
  padding: 8px 24px;
  background: #FFFBEE;
  border: 1px solid #FFC000;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #101828;
  text-transform: uppercase;
  transition: 0.3s;
}

.login-btn:hover{
  background: #FFC000;
}

.mobile-view{
  display: none;
}

.mobile-menu-hiden{
  display: none;
}

/* =====================mobile responsive========================== */

@media screen and (max-width: 525px) {
  .nav-container{
    display: none;
  }
  .mobile-view{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    list-style: none;
  }

  .mobile-menu li{
    margin-top: 20px;
  }

  .login-btn{
    background: #FFC000;
  }

}
/* =====================mobile responsive========================== */

.hero{
  background: url('./assets/bg/bg-header.png');
  background-size: cover;
}

.hero-box{
  display: flex;
  padding: 38px 12px;
}

.hero-box .computer{
  width: 100px;
  height: 115px;
}

.notes{
  display: flex;
  justify-content: left;
}
.notes .box{
  display: flex;
  font-family: 'Hind Siliguri';
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  background: #E9EFFF;
  border-radius: 4px;
  margin-left: 15px;
  padding: 8px 12px;
  line-height: 0;
  line-height: 10px;
}
.notes .box img{
  height: 10px;
  width: 10px;
  margin-right: 6px;
}

.hero-btn{
  display: flex;
  margin-top: 25px;
}

.hero-btn button{
  margin-left: 15px;
}
.hero-info{
  width: 585px;
  margin-left:37px ;
}
.sub-text{
  margin-left: 15px;
  color: #1D2939;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}


/* =============== hero section movie responsive section ====================== */

@media screen and (max-width: 525px){
  .hero-box{
    flex-direction: column;
  }

  .hero-box .computer{
    margin-left: 10px;
  }

  .hero-box{
    display: flex;
    padding: 35px 16px;
  }

  .hero{
    background: url('./assets/bg/mobile-bg.png');
  }

  .hero-info {
    width: 100%;
    margin-left: 0;
}

.sub-text {
  margin-left: 0;
}


.notes{
  margin-top: 20px;
}

.notes .box {
  margin-left: 2px;
  padding: 4px 8px;

}
.notes .box p{
  line-height: 20px;
}

.hero-btn button {
  margin-left: 0;
}

.hero-btn {
  display: block;
  margin-top: 0px;
}

}

/* =============== hero section movie responsive section ====================== */


